@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  list-style: none;
  text-decoration: none;
}
html{
  height: 100%;
}

.content, body {
  margin: 0;
  padding: 0;
  background-color: #f0f3f5;
  min-height: 100%;
  position: relative;
}

h1{
  font-size: 50px;
  color: #066a75;
  padding: 2px 0 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

h2{
  font-size: 30px;
  color: #066a75;
  padding: 1px 0 1px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-style: italic;
}

h3{
  font-weight: bold;
}

h4{
  font-size: 20px;
  color: #066a75;
  padding: 1px 0 1px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
}

#post-container{
  padding: 10px;
}

#post-content {
  text-align: start;
  padding: 20px;
}

#comments{
  text-align: start;
  padding: 20px;
  position: relative;
}

/*Menu Navegacao*/

#navbar{
  background-color: rgb(61, 157, 179);
}

#navbar ul {
  max-width: 800px;
  list-style: none;
  padding: 0;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  color: #FFF;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
  font-weight: bold;
}

#navbar ul li a:hover {
  background-color: rgb(6, 106, 117);
}

#navbar ul li:last-child a {
  float: right;
  background-color: rgb(6, 106, 117);
}

#back{
  background-color: rgb(97, 173, 175);
  max-width: 800px;
  list-style: none;
  padding: 0;
  display: inline;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
  font-weight: bold;
  float: right;
}

#edit{
  background-color: rgb(97, 173, 175);
  max-width: 800px;
  list-style: none;
  padding: 0;
  display: inline;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
  font-weight: bold;
  float: right;
}

#del{
  background-color: rgb(97, 173, 175);
  max-width: 800px;
  list-style: none;
  padding: 0;
  display: inline;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
  font-weight: bold;
  float: right;
}

.postList {
  width: 100%;
  height: 65vh;
  background-color: #e2e7ec;
  display: flex;
  align-items: center;
  justify-content: center;
}

#posts{
  padding: 16px 48px;
}

.postList h3 {
  width: 100%;
  text-align: center;
  color: #093568;
  font-size: 55px;
}

label {
  font-size: 20px;
  color: rgb(6, 106, 117);
  font-weight: bold;
  padding: 16px 48px;
}

select {
  width: 150px;
  padding: 8px;
  border: 0 !important;
  background-color: lightblue;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: .6em;
  background-position: calc(100% - 1.3em) center;
  background-repeat: no-repeat;
}

select::-ms-expand {
  display: none;
}

textarea {
  width: 600px;
  height: 75px;
  padding: 16px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin-left: 40px;
}

input[type=text] {
  width: 150px;
  height: 15px;
  padding: 16px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin-left: 40px;
}

.btn-submit {
  padding: 15px 15px;
  font-size: 16px;
  color: #FFF;
  background-color: rgb(61, 157, 179);
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 800px;
  float: right;
}

.footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: rgb(61, 157, 179);
  padding: 10px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  align-items: center;
}



